@css {
    .hljs {
        @apply -mx-8 p-6 my-4;
    }

    .md-heading_open {
        @apply text-grey-dark mb-2 mt-8 border-l-8 -ml-8 pl-6 border-teal;
    }

    .md-link_open {
        @apply text-teal-dark no-underline;
    }

    .md-link_open:hover {
        @apply text-teal;
    }

    .md-image {
        @apply block mx-auto max-w-full;
    }
}
